@CHARSET "UTF-8";

.week {
  width:100%;
  border: 0;
  margin-top: 30px;
}

.page_break {
  page-break-before: always;
}

.week_header {
  color: red;
  border: 1px solid black;
  height: 25px;
  width: 99%;
  background-color:#dddddd;
  padding-right:4px;
}

.week_header_content {
  padding-left: 40px;
  float:left;
  width:50%;
}

.day {
  float: left;
  width: 19%;
}

.day_title {
  padding-left: 20px;
  font-weight: bold;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.first {
  border-left: 1px solid black;
}

.times {
  float: left;
  width: 4%;
  text-align: center;
}

.times_hour {
  border-left:1px solid black;
  border-right: 1px solid black;
}

.times_hour, .subject{
  height: 24px;
  border-right:1px solid black;
}
.times_hour, .subject {
  border-bottom: 1px solid black;
}

.subject, .subject_continues{
  font-size: 10px;
  border-right:1px solid black;
}

.subject_continues {
  height: 25px;
}

.empty {
  background-color:#dddddd;
}

.red {
  color: red;
  border-right: 3px solid red;
  border-left: 3px solid red;
}

.dashed {
  border-bottom: 1px dashed;
  height: 24px;
}

.dashed_top {
  border-top: 1px dashed red;
  height: 24px;
}

.second {

}

a, a:visited {
  color: #666666;
}

a, a:hover{
  color: #000000;
}



/* UPDATE FORM */
#update_area {
  width: 100%;
  height:95%;

  background-color: #eeeeee;
}

.update_form {
  display: inline;
}

.revert {

}

.submit_button {
  position:absolute;
  bottom: 10px;
  right: 20px;
}

.revert_button {
  position:absolute;
  bottom: 10px;
  right: 170px;
}

.message {
  position:absolute;
  left: 20px;
  bottom: 10px;
  font-weight: strong;
  font-size:18px;
}

.ok{
  color: green;
}

.error{
  color: red;
}